/* ==========================================================================
   Author's custom styles
   
   Color Pallete: https://coolors.co/4f7cac-c0e0de-a31621-666370-2f2235
   
   ========================================================================== */
/* == Global Styles ==*/
a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.alignleft {
  float: left; }

img.alignleft {
  margin: 0 10px 10px 0; }

.alignright {
  float: right; }

img.alignright {
  margin: 0 0 10px 10px; }

/* == Structure ==*/
header {
  max-height: 400px;
  background: url(../images/headers/skyline.jpg);
  /*background-size: cover%;*/
  background-position: 42% 45%;
  padding: 50px 0;
  color: #fff; }

header h1, header h2 {
  padding-left: 10%;
  background: #999;
  background: rgba(153, 153, 153, 0.6); }

header h1 {
  margin-bottom: 0; }

header h2 {
  margin-top: 0; }

footer {
  background: #303338;
  padding: 24px 72px;
  color: #FFF; }

#sidebar {
  width: 18%;
  background: #2F2235;
  color: #fff;
  padding: 2%;
  float: left;
  height: 100%; }

#blogSection {
  background: #2F2235;
  color: #fff;
  padding: 20px; }

.thirdBox {
  float: left;
  position: relative;
  width: 33.33%;
  padding-bottom: 33%;
  /* = width for a 1:1 aspect ratio */
  overflow: hidden;
  color: #fdfdfd; }

.slide, .slideContent {
  width: 100%;
  position: absolute;
  padding-bottom: 100%;
  color: #fdfdfd; }

.slide h2, .slides .tiles-more {
  text-transform: uppercase; }

.slideContent {
  width: 90%;
  top: 100%;
  background: #2F2235;
  background: rgba(47, 34, 53, 0.8);
  padding: 0 5%;
  padding-bottom: 100%;
  -webkit-transition: top 0.2s linear;
  -moz-transition: top 0.2s linear;
  -o-transition: top 0.2s linear; }

.slide:hover .slideContent {
  top: 0%; }

#mediumSection a {
  display: block;
  width: 100%;
  height: 75px;
  background: #666370;
  text-align: center;
  line-height: 76px;
  color: #fff; }

#mediumSection a:hover {
  background: #C0E0DE;
  color: #666370;
  text-decoration: none; }

#staticContent {
  padding: 5%;
  background: #fff; }

#staticContent.contentWithSidebar {
  float: left;
  width: 68%;
  height: 100%; }

.staticArticle p:first-child {
  margin-top: 0; }

/* == Typeography ==*/
#slide-instaLink {
  color: #fdfdfd;
  text-decoration: none; }

/* == Bits n' Bobs ==*/
.slides article:nth-child(1) {
  background: url("../images/barman.jpg");
  background-size: 100%; }

.slides article:nth-child(2) {
  background: url("../images/calendar.jpg");
  background-size: 100%; }

.slides article:nth-child(3) {
  background: url("../images/bikebridge.jpg");
  background-size: 100%; }

.slides article:nth-child(2) a .slideContent {
  background: #4F7CAC;
  background: rgba(79, 124, 172, 0.8); }

.slides article:nth-child(3) .slideContent {
  background: #666370;
  background: rgba(102, 99, 112, 0.8); }

#instafeed {
  padding-top: 15px; }

#instafeed a {
  display: inline-block;
  width: 33.33%;
  cursor: pointer; }

#instafeed a:hover {
  cursor: default; }

#instafeed a img {
  display: block;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 15px;
  margin: 0 auto;
  margin: 0 auto 10px;
  width: 70px;
  height: 70px; }

/* Desktops and laptops ----------- */
/* iPads (landscape) ----------- */
/* break 1 ----------- */
@media only screen and (max-width: 1024px) {
  .hide-1024-up {
    display: none; } }
/* Smartphones (landscape) ----------- */
@media only screen and (max-width: 768px) {
  .thirdBox {
    float: none;
    width: 100%; }

  .slideContent {
    top: 0; } }
/* Big smartphones (portrait) (ie: Galaxy 3 has 360)*/
/* Smartphones (portrait) (ie: Galaxy 1) */

/*# sourceMappingURL=styles.css.map */
